body {
    background-color: lightblue;
}


 .fir h1 { color: red}


p.large-text{
    color: blue;
    font-size: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

td, th {
    border: 1px solid #dddddd;;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
div class="fir" { i}